@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.mobile-nav{
   display: none;
}
.navbar{
  /* max-width: 1140px; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 590px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 35px;
  justify-content: space-around;
}

.nav-logo img{
   width: 135px; 
   
}
.nav-options{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.option{
  color: #8987A1;
}
.bold-option{
   color: #252432;
   font-weight: bold;
}
.lt-bold-option{
   font-weight: 400;
}
.add-to-cart img{
   width: 40px;
}
.add-to-cart{
  display: flex;
  align-items: center;
}

.title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
}
.orange-color{
   color: #E95A08;
}
.paraghraph p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal; 
  font-size: 22px;
  color: #6e6767;
}
.banner-info{
  width: 570px;
}
.banner-img img{
  width: 570px;
}
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 120px;
}
.plants-info{
  text-align: center;
}
.Title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
}
.coloring{
  color: #E95A08;
}

.plants{
  margin-top: 120px;
  
}
.cart{
  width: 270px;
}
.scenerio img{
  width: 270px;
}
.name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
  font-size: 22px;
  padding-bottom: 10px;
}
.price{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal; 
  font-size: 22px;
}
.name-price{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.button{
  background-color: #E95A08;
  color: white;
  text-align: center;
  width: 270px;
}
.plants-grid{
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding-left: 150px;
  padding-right: 150px; */
  padding: 0 auto;
  margin-left: 70px;
  gap: 20px;
}
.Plants-Lover{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  gap: 10px;
  padding: 30px; 
}
#badge { 
  position: absolute;
  top: -90px;
  right: -120px;
  width: 286px;
  z-index: 2;
}
#badge img{
  width: 100%;
}
#flower img{
  width: 100%;
  display: block;
}
.lover-images{
  position: relative;
  display: inline-block;
}
.lover-info{
  max-width: 500px;
  
}
.lover-list li{
  margin-bottom: 20px;
}
.lover-list ul{
  list-style-type: disc;
  padding-left: 20px;
}
.latest-deal{
  text-align: center;
  margin: 100px;
}
.upper{
  background-image: url("../images/deal-bloom.png");
  border-radius: 10px;
  width: 350px;
  height: 185px;
  text-align: center;
  
}
.lower{
  background-image: url("../images/deal-ana.png");
  border-radius: 10px;
  width: 350px;
  height: 185px;
  text-align: center;
}
.beside{
  background-image: url("../images/deal-zabo.png");
  border-radius: 10px;
  width: 500px;
  height: 400px;
  text-align: center;
}
.offer{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 100px;
}
.left-panel{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.upper p{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
.lower p{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}
.upper a{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
  font-size: 16px;
  color: #FFFFFF;
}
.lower a{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
  font-size: 16px;
  color: #FFFFFF;
}
.beside p{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: #FFFFFF;
}
.beside a{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
  font-size: 28px;
  color: #FFFFFF;
}
.alignment{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.join{
  background-image: url("../images/news-letter-bg.png");
  background-size: cover;
  height: 533px;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}
.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}
.bunch p{
  color: #FFFFFF;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  
}
.Form {
  display: flex;
  align-items: center;
}
.Form input[type="email"] {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
  background-color: #FFFFFF;
}
.Form button {
  padding: 12px 20px;
  background-color: #f26522;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  
}
.logos{
  display: flex;
  gap: 10px;
}
.first-column-link, .second-column-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-section{
  display: flex;
  justify-content: space-around;
}
.footer-info{
  width: 400px;
}


@media screen and (max-width: 576px) {
   .mobile-nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 300px;
     margin-top: 10px;
     margin-left: 80px;
     margin-right: 600px;
     width: 100%;
   } 
  .time p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; 
  font-size: 17px;
  }
  .device-logo img{
     width: 20px;
  }
  .device-logo{
    display: flex;
    gap: 5px;
  }
  .nav-logo img{
    width: 80px;
  }
 .navbar{
  margin-left: 90px;
  margin-top: 20px;
  justify-content: space-between;
  gap: 200px;
  width: 100%;
 }
 .bold-option,.option{
  display: none;
 }
  
 .banner{
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;  
   margin-top: 28px;  
   width: 100%;
   
  
 }
 .banner-img img{
  width: 100%;
  height: auto;
  /* padding-right: 20px;  */
  /* padding-left: 100px; */
 }
 .banner-info{
  width: 100%;
  margin-top: 40px; 
  margin-right: 190px;
 }
 .title{
  font-size: 24px;
  text-align: left;
 }
 .paraghraph p{
  font-size: 14px;
  text-align: left;
  margin-right: 10px;
 }
 
.Title{
  font-size: 24px;
  text-align: center;
}
.Subtitle{
  font-size: 14px;
  text-align: center;
}
.plants-info{
  width: 550px;
  margin-left: 8px;
}

.plants-grid{
  grid-template-columns: repeat(2, 1fr);
  padding-right: 100px;
  max-width: 100%;
  margin-left: 10px;
  margin-bottom: 100px;
}
.plants{
  width: 100%;
}

#badge{
  display: none;
}
.Plants-Lover{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-left: 75px;
  padding: 20px;
}
.lover-info{
  padding-top: 20px;
  padding-bottom: 10px;

}
.lover-images, .lover-info{
    width: 100%;
    max-width: 400px;
}
#flower img{
  width: 100%;
  height: auto;
}
.lover-images{
  position: relative;
}
.lover-list li{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  font-size: 14px;
  color: #6e6767;
}

.latest-deal{
 width: 100%;
 padding-right: 30px;
}

.beside{
  width: 350px;
  height: 185px;
}
.beside p{
  font-size: 20px;
}
.beside a{
  font-size: 16px;
}
.offer{
  flex-direction: column;
  
}
.bunch p{
  font-size: 20px;
}
.Form input[type="email"]{
  width: 300px;
}
.Form button{
  width: 50px;
}
.join{
  height: 300px; 
  margin-left: 140px;
}
.footer-section{
   flex-direction: column;
   gap: 20px;
   margin-bottom: 50px;
}

}









































































